bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
