services:
  mongodb:
    image: mongo:7
    container_name: hypesoft-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: hypesoft
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:1
    container_name: hypesoft-mongo-express
    restart: unless-stopped
    depends_on:
      - mongodb
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH: "false"

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.5
    container_name: hypesoft-keycloak
    restart: unless-stopped
    command: start-dev --http-port=8080
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - keycloak_data:/opt/keycloak/data

  prometheus:
    image: prom/prometheus:v2.54.1
    container_name: hypesoft-prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana:11.2.0
    container_name: hypesoft-grafana
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - ./observability/grafana/provisioning:/etc/grafana/provisioning:ro
      - grafana_data:/var/lib/grafana

  redis:
    image: redis:7-alpine
    container_name: hypesoft-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  keycloak_data:
  prometheus_data:
  grafana_data:
  redis_data:
